{@layout path="page-template" /}

{<pageTitle}
    {@queryOne type="my:page" as="{reques.tokens.pageName}"}
    {?page}
        <title>{page.pageTitle}</title>
    {/page}
    {/queryOne}
{/pageTitle}

{<content}
    {@queryOne type="my:pageContent" field="title" fieldValue="{request.tokens.pageName}" as="page"}
    <div class="row generic-page">
        <div class="col-md-3">
            {@block path="leftnav-page" /}
        </div>
        <div class="col-md-9">
            {#page.contentSections}
            {@block path="content-section" /}
            {/page.contentSections}

            {page.content|s}
        </div>
    </div>
    {/queryOne}
{/content}
