<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/DataTables/datatables.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/keydrown/dist/keydrown.min.js"></script>
<script src="/js/spin.js"></script>
<script src="/js/jquery.spin.js"></script>
<script src="/vendor/ekko-lightbox-3.3.0/ekko-lightbox.min.js"></script>
<script src="/js/jquery.remember-state.pack.js"></script>

<!-- start of analytics -->
<!--
<script src="/_lib/socket.io/socket.io.js"></script>
<script src="/_lib/insight/insight.js"></script>
-->
<!-- end of analytics -->

<script src="/js/main.js"></script>
